body {
  background-color: #231e1a;
  color: coral;
}

a, u {
  text-decoration: none;
}

* {
  color: #ff3612;
  border: 0;
  padding: 0;
  margin: 0;  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
